body {
    background-color: #5ef2b9; 
 font-family: helvelica, sans-serif; 
}

a {
    text-decoration:none; 
    color: Black;
}
h1, h2, h3{
    margin:0;
}
#header {
background-color: white;
    font-size: 20;
    color: rgb(43, 206, 143);
    padding-left: 10px;
    overflow: hidden;
} 
#container {            
    background-color: white;
    width: 1200px;
    height: 85px; 
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;   
} 
#CONTENT {
    PADDING: 10PX;
}  
#nav {
    margin: 0 auto;
    overflow: hidden;
}
#nav li{
    width: 180px;
    font-size: 20; 
    float: left;
    padding: 10px;
    padding-left: 30px; 
    overflow: hidden; 
}
#nav .selcted {
    Font-weight: bold;
}
#nav ul {
    list-style-type: none; 
    padding: 0;
}
#header2 { 
    padding-left: 
}
    
#article {
    width: 600px; 
    Float: right;
}
#footer {
    clear: both; 
    padding: 10px;
    background-color: #999;
    text-alight: right;
}

    