#body {
    background-color: #ffffff;
}

a {
    text-decoration: inherit;
    color: #0000ff;
}

#header {
    background-color: #ffffff;
    width: 1000px;
    padding: 10px;
    color: #00005d;
    font-family: impact, fantasy;
    font-size: 30;
}

#container {
    background-color: #fc00fc;
    width: 1000px;
    margin: 0 auto;
}

#content {
    height: 600px;
}

#hmenu li {
    background-color: #ffffff;
    width: 200px;
    padding: 10px;
    float: left;
    color: red;
    font-family: raleway, sans-serif;
    font-size: 20; 
}

#image-home {
    width: 700px;
    height: 500px; 
    padding: 10px;
    float: left;
}
#article {
    background-color: #fc00fc;
    width: 260px;
    height: 500px;
    padding: 10px;
    float: right;
    color: white;
    font-family: philosopher, sans-serif;
    font-size: 15;
}
#footer {
    background-color: #fc00fc;
    width: 1000px;
    padding: 10px;
    margin: 0 auto;
    color: white;
}
