#body {
    background-color: #ffffff;
}

a {
    text-decoration: none;
    color: #0000ff;
    
}
a:hover {
    font-weight: bold;
}

#header {
    background-color: #ffffff;
    width: 1000px;
    padding: 10px;
    color: #00005d;
    font-family: 'Oswald', sans-serif;
    font-size: 30;
}

#hmenu li {
    background-color: #ffffff;
    width: 200px;
    padding: 10px;
    float: left;
    font-family: 'Raleway', sans-serif;
    font-size: 20; 
}

#container {
    background-color: #a70000;
    width: 1000px;
    margin: 0 auto;
}

#content {
    height: 800px;
}

#image-home { 
    padding: 10px;
    float: left;
}

#image-home2 {
    padding: 10px;
    float: left;
}

#image-about {
    padding: 10px;
    text-align: center;
    clear: both;
}

#article1 {
    background-color: #a70000;
    width: 260px;
    height: 500px;
    padding: 10px;
    float: right;
    color: #000000;
    font-family: philosopher, sans-serif;
    font-size: 20;
}

#article2 h2 {
    background-color: #a70000;
    padding: 10px;
    color: #000000;
    font-family: Quicksand, sans-serif;
    font-size: 30;
    text-align: center;
    clear: both;
}

#article2 {
    background-color: #a70000;
    padding: 10px;
    color: #000000;
    font-family: Quicksand, sans-serif;
    font-size: 20;
    text-align: center;
    clear: both;
}

#article3 {
    background-color: #a70000;
    padding: 10px;
    color: #000000;
    font-family: philosorpher, sans-serif;
    font-size: 20;
    text-align: center;
}

#article7 {
    background-color: #a70000;
    padding: 10px;
    color: #000000;
    font-size: 20;
    text-align: center;
    clear: both;
}

#footer {
    background-color: #a70000;
    width: 1000px;
    padding: 10px;
    margin: 0 auto;
    color: #000000;
}
