body{
background-color: white;
}

#container{
    background-color: white;
    width: 800px;
    margin: auto;
}

#header{
    background-color: white;
    color: black;
    padding: 10px;
}

#content{
    padding: 10px;
}