body {
    text-align: center;
    background-color: 6198a3;
}
#container {
    width: 600px;
    padding: 60px;
    background-color: white;
    margin: 0 auto;
}
#header {
    background-color: 137589;
    color: 070707;
    padding: 5px;
    font-family: serif;
    border: 3px solid black;
    margin: 0;
}
a {
    text-decoration: none;
    color: black;
    font-family: serif;
    font-size: 19px;
    font-weight: bold;
}
#nav {
    list-style-type: none;
    padding: 5px;
    overflow: hidden;
    width: 200px;
    margin: 0 auto;  
}
#nav li {
    float: left;
    padding: 10px;
}
#nav-wrapper {
    background-color: 137589;
    border: 3px solid black;
    margin: 0;
}
#footer {
    padding: 50px;
    float: left;
    padding-left: 0px;
    padding-bottom: 0px;
    font-size: 12px;
}

.container2 {
    background-image: url(flowers.jpg);
    height: 200px;
    background-size: cover;
    padding: 40px;
} 