body {
    background-color: #aaa;
    font-family: helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}
h1, h2, h3 {
    margin: 0;
}
#container {
    background-color: white;
    width: 900px;
    margin: 0 auto;
}

#header {
    background-color: darkcyan;
    color: white;
    padding: 13;
    float: right;
    width: 686;
    text-align: right;
    
}
#content {

}
#nav {
    width: 165px;
    float:none;
    text-align: left;
    height:650;
    background-color: lightcyan;
    color: #356;
    padding: 10
    
    
}
#nav2 {
    float: left;
    float: right;
    width: 600;
    text-align: center
}
#nav .selected {
    font-weight: bolder;
}
#nav ul {
    list-style-type: none;
    padding: 0px;
    white-space:pre-wrap;
    color: black;
    font-weight: bold       
}
#article {
    width: 650px;
    float: right;
    text-align:left;
    
}
#footer {
    clear: both;
    background-color: darkcyan;
    color: red;
    text-align: right;
    padding: 10;
    width: 879;
    float: right;
}
#title{
    padding: 10;
    background-color: darkcyan;
    color: red;
}
#verse {
    padding: 40;
    float: center;
}