body {
    background-color: black;
}
#container {
    background-color: black;
    width: 800px;
    margin: 0 auto;
}
#header {
    background-color: #66ccff;
    color: white;
    clear: both;
     border-style: ridge;
    border-bottom-color: gold;
    border-top-color: gold;
    border-right-color: gold;
    border-left-color: gold;
    padding-bottom: 0px;
    padding-top: 15px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: fixed;
    top: 0;
    height: 30px;
    right: 10px;
    width: 600px;
}
#content {
    background-color: grey;
    padding: 10px;
    margin-top: 200px;
     border-style: ridge;
    border-bottom-color: white;
    border-top-color: white;
    border-right-color: white;
    border-left-color: white;
}
#about {
    background-color: gray;
    margin-top: 20px;
    margin-left: 550px;
    margin-right: 550;
    padding-top: 2;
    padding-bottom: 1px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
     border-style: ridge;
    border-bottom-color: white;
    border-top-color: white;
    border-right-color: white;
    border-left-color: white;
}
#line {
    background-color: black;
    margin-top: 1px;
    margin-left: 550px;
    margin-right: 550;
    padding-left: 100px;
    padding-right: 100px;
    text-align: left;
    color: gold;
}
#info {
    background-color: gray;
    margin-top: 1px;
    margin-left: 550px;
    margin-right: 550;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
     border-style: ridge;
    border-bottom-color: white;
    border-top-color: white;
    border-right-color: white;
    border-left-color: white;
}
#content {
    padding: 10px;
    font-style: italic;
    text-align: center
}
#nav {
    width: 180px;
    float: left;
}
#nav .selected {
    font-weight: bold;
}
#nav ul {
    list-style-type: none;
    padding: 0;
}
#article {
    width: 600pc;
    float: right
}
#footer {
    clear: both;
    background-color: #999;
    text-align: left;
    padding-bottom: 0px;
    padding-top: 10px;
    position: fixed;
    bottom: 10px;
    width: 100%;
}
#logo {
    float: right;
    margin-right: 25px;
    margin-bottom: 10px;
    bottom: 0;
}
.button {
    padding: 5px;
    background-color: gold;
    color: white;
        margin-top: -9px;
     border-style: double;
    border-bottom-color: darkgoldenrod;
    border-right-color: darkgoldenrod;
    border-left-color: darkgoldenrod;
    border-top-color: darkgoldenrod;
    border-radius: 7px;
    float: left;
}
.button2 {
    padding: 5PX;
    background-color: gold;
    color: white;
    margin-left: 10px;
    margin-top: -9px;
     border-style: double;
    border-bottom-color: darkgoldenrod;
    border-right-color: darkgoldenrod;
    border-left-color: darkgoldenrod;
    border-top-color: darkgoldenrod;
    border-radius: 7px;
    float: left;
}
#copyright {
    float: left;
    padding-left: 10px;
}
.search {
    margin-right: 0px;
    margin-left: 334px;
}