body {
    background-color: #eee;
    font-family: sans-serif, helvetica;
    background-image: url(images/BackgroundSky.png);
}

a {
    text-decoration: none;
    color: black;
}

h1,h2,h3,h4 {
    margin: 0;
}

#header {
    text-align: center;
    float: center;
    padding: 10px;
}

#container {
    background-color: none;
    width: 800px;
    margin: 0 auto;
}

.tree {
    position: relative;
    top: 10px;
    left: 10px;
}

h1,h2,h3,h4 {
    font-family: sans-serif;
}

#header {
    text-align: center;
}

#nav {
    align-content: center;
    border-width: 10px;
    border-color: #22db00;
    background-color: #55b548;
    background-blend-mode: color-dodge;
    background-image: linear-gradient (to top, green 0%, none 90%);
    width: 120px;
    height: 400px;
    float: left;
}

#nav ul {
    list-style-type: none;
    padding: 0;
}

#nav .selected {
    font-weight: bold;
}

#container {
  background-color: none;
  width: 800px;
  margin: 0 auto;
}
    
#homeTree {
    align-content: center;
    width: 400px;
    float: left;
}

#homemission {
    text-align: justify;
    float: left;
    width: 200px;
    height: 200px;
    border-color: #60e660;
    border-bottom-style: solid;
    background-color: #38c932;
    color: #ffffff;    
}

#footer {
    text-align: center;
    background-color: none;
    padding: 10px;
    color: #000000;
    clear: both;
}

#main_content {
    width: 650px;
    height: 400px;
    background-color: #30b56e;
    float: right;
}

#main_content h1 {
    text-align: left;
}

<style type="text/css">
	#tfheader{
		background-color: saddlebrown;
        align-content: center;
        margin: 0 auto;
        padding: 10px;
	}
	#tfnewsearch{
        position: relative;
        margin: auto;
		padding: 20px;
	}
	.tftextinput{
		margin: 0;
		padding: 5px 15px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		border:1px solid saddlebrown; border-right:0px;
		border-top-left-radius: 5px 5px;
		border-bottom-left-radius: 5px 5px;
	}
	.tfbutton {
		margin: 0;
		padding: 5px 15px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		outline: none;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		color: #ffffff;
		border: solid 1px saddlebrown; border-right:0px;
		background: saddlebrown;
		background: -webkit-gradient(linear, left top, left bottom, from(#be611e), to(#8b5839));
		background: -moz-linear-gradient(top,  saddlebrown,  saddlebrown);
		border-top-right-radius: 5px 5px;
		border-bottom-right-radius: 5px 5px;
	}
	.tfbutton:hover {
		text-decoration: none;
		background: saddlebrown;
		background: -webkit-gradient(linear, left top, left bottom, from(saddlebrown), to(saddlebrown));
		background: -moz-linear-gradient(top,  saddlebrown,  saddlebrown);
	}
	/* Fixes submit button height problem in Firefox */
	.tfbutton::-moz-focus-inner {
	  border: 0;
	}
	.tfclear{
		clear:both;
	}
</style>
</head>
<body>