#body {
    background-color: #ffffff;
    width: auto;
}

a {
    text-decoration: none;
    color: red;
    
}
#container {
    background-color: #ffeef0;
    width: 1000px;
    margin: 10;
    
}
#header {
    background-color: #ffffff;
    width: 1000px;
    padding: 10px;
    float: left;
    color: red;
    font-family: impact, fantasy;
    font-size: 50;
}
#hmenu li {
    background-color: #ffffff;
    width: 200px;
    padding: 10px;
    float: left;
    color: red;
    font-family: raleway, sans-serif;
    font-size: 40; 
}
