body {
    background-color: white;
    font-family: helventica, sans-serif
}

a {
    text-decoration: underline; 
    color: darkgoldenrod;
}

h1 {
    margin: 0;
}

#header {
    background-color: white;
    color: black; 
    padding: 10px;
}

p {
    font-family: cursive;
    float: left;
}