body{
    background-color: #eee;
}

#header {
    background-color: #66ccff;
    color: white;
    padding: 10px;
}

#container {
    background-color: white;
    width: 800px;
    margin: 0 auto;
}
#content {
    padding: 10px;
}
#nav {
   width: 180px; 
    float: left;
}
#article {
    width: 600px;
    float: right;
}
#footer {
    clear: both;
}
