body{
    background-color: #F2F5A9;
    text-decoration:none helvetica, cursive;
 }
:link{
    text-decoration: none;
    list-style: none;
} 
#nav ul{
    list-style-type: none;
    margin: 0;
    float: right;
    padding: 0;
    overflow: hidden
    text-a : right;
    text-transform: uppercase;
}
#condtainer{
    de
