
body{
    background-color: #eee;
    font-family: fantasy;
}

a {
    text-decoration: none;
    color: darkslategrey;
    font-family: serif;
}
h1, h2, h3 {
    margin: 0;   
}

#header {background-color: cccccc;
    color: whitesmoke;
    padding: 7px;}

#container {
    background-color: bdffc2;
    width: 880px;
    margin: 0 auto;
    height: 600px;
    
   
}
#content {
    padding: 10px;
}
#nav {
   width: 390px; 
    float: right;
}
#nav .selected {
    font-weight: bolder;
    color: 006600
}
#nav ul {
    list-style-type: none;
    padding: 0;
}
#nav li {
    float: left;
    padding: 14;
    color: 33cc33
}

#article {
    width: 600px;
    float: right;
}
#footer {
    clear: both;
    padding: 10px;
    background-color: #999;
    text-align: right;     
}