
body{
    background-color: #fafafa;
    font-family: fantasy;
}
a {
    text-decoration: none;
    color: dimgrey;
    font-family: fantasy;
    padding: 3px;
    margin: 0px;
}
a:hover {
    background-color: #b1b1b1;
}
h1, h2, h3 {
    margin: 0;
    color: #006600;
}
#header {
    background-color: #d1d1d1;
    color: black;
    padding: 7px;
    height: 50px;
    width: 1086;
}
#container {
    background-color: #ccf2cc;
    width: 1100px;
    margin: 0 auto;
    height: 800px;
    position: relative;
}
#content {
    padding: 10px;
}
#nav {
   width: 450px;                                                                     
    float: right;
}
#nav .selected {
    font-weight: bolder;
    color: #006600;
}
#nav ul {
    list-style-type: none;
    padding: 0;
}
#nav li {
    float: left;
    padding: 0px;
    color: #33cc33
}
#article {
    width: 600px;
    float: left;
}
#footer {
    background-color: ccf2cc;
    text-align: right;  
    width: 1000;
    height: 45px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
#sidebar2 {
    width: 100; 
    float: left; 
    height: 735px; 
    background-color: d1d1d1
}
#sidebar1 {
    width: 86; 
    float: left; 
    height: 50px; 
    padding: 7px; 
    background-color: 338533;
    text-align: center;
    color: #d1d1d1;
}






