body {
    background-color:#F0F8FF; 
    font-family: helvetica, sans-serif;
}

a {
text-decoration: none;
    color: dodgerblue;
}
h1,h2,h3 }
margin: 0;
}

#container {
    background-color: lightgrey; 
    width: 800px;
    margin: 0 auto;
   }

#header  {
background-color: #0000CD;
color: white;
padding:10px 50px;
}
#content {
    padding: 10px;
}
#nav {
    width:180px;
    float: left;
}
#nav .selected {
  font-weight: bold; 
}
#nav ul { 
    list-style-type: none;
    padding: 0;
}
#article {
    width: 600px;
float: right; 
}
#footer {
    clear: both;
    padding: 10px:
        background-color: #808080 ;
    text-align: right
}

