body {
    background-color:darkgoldenrod
}

#container {
    background-color:burlywood;
    width: 800px;
    margin: 0 auto;
}

#header {
    background-color: cadetblue;
    color: white;
    padding: 10px;
}
#content {
   padding: 10px; 
}
