body {
    background-color: black;
}
#container {
    background-color: black;
    width: 800px;
    margin: 0 auto;
}

#header {
    background-color: #66ccff;
    color: white;
    clear: both;
    padding-bottom: 0px;
    padding-top: 15px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: fixed;
    top: 0;
    height: 30px;
    right: 10px;
    width: 600px;
}
#content {
    background-color: gray;
    padding: 10px;
    margin-top: 200px
}
#info {
    background-color: gray;
        margin-left: 550px;
    margin-right: 550;
}
#content {
    padding: 10px;
    font-style: italic;
    padding-right: 250px;
    padding-left: 280px;
}
#nav {
    width: 180px;
    float: left;
}
#nav .selected {
    font-weight: bold;
}
#nav ul {
    list-style-type: none;
    padding: 0;
}
#article {
    width: 600pc;
    float: right
}
#footer {
    clear: both;
    background-color: #999;
    text-align: left;
    padding-bottom: 0px;
    padding-top: 10px;
    position: fixed;
    bottom: 10px;
    width: 100%;
}
#logo {
    float: right;
    margin-right: 25px;
    margin-bottom: 10px;
    bottom: 0;
}
.button {
    padding: 5px;
    background-color: gold;
}
.button2 {
    padding: 5PX;
    background-color: gold;
}
#copyright {
    float: left;
    padding-left: 10px;
    
}