body {
background-color: #16a7a7;
    font-family: cursive;
}

#container{
backgroud-color: rgba(206, 255, 255, 0.96);
width: 900;
margin: 0 auto;
}

#header {
background-color: #f0ebeb;
color: white;
padding: 10px;
}
#content {
    padding: 10px;
}
#nav {
 width: 180px; 
float: right
}
#article  {
width: 600px;
    text-align:left
        
}

