body{
    background-color: #eee;
    font-family: helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: red;
}
h1, h2, h3 {
    margin: 0; 
}
h4 {
    font-family:times, serif;
}

    #container {
    background-color:white; 
    width: 800px;
    margin: 0 auto;
}

#header {
    background-color: #66ccff;
    color: white;
    padding 10px;
}
#content {
    padding: 10px;
}
#left-sidebar {
  width: 19px;  
  float: left;
    clear: left;
    padding-top: 100px
        
    
    
}
#nav li{
    float:left;
    padding: 10
}
.button{
    padding: 5px;
    background-color: red;
    color: white;
    width:145px;
    display: inline-block;
    text-align: center
}
#nav .selected {
    font-weight: bold;
}
#nav ul {
    list-style-type: none; 
    padding: 0; 
    font-family: 
    
}

#article {
    width: 600px;
    float: left;
    text-align:center
    
}
#footer {
    clear: both;
    padding: 10px;
}



