body{
   text-decoration:none, helvetica, cursive;
 }
:link{
    text-decoration: none;
    list-style: none;
} 
#nav {
    width: 1900px;
}
#nav li{
    float: left; 
    padding: 10px;
    color: black;
    
}
#nav ul{
    list-style-type: none;
    margin: 0;
    float: right;
    padding: 0;
    overflow: hidden;
    text-a : right;
    text-transform: uppercase;
}
#logo{
    width: 50px;
    float: left;
    padding: 20px;
}
#firstoverveiw{
    background-color: #FFFFE0;  
    width:1880px;
    height: 945px;
}
#secondoverveiw{
    background-color: #FFFFB2;
    width: 1880px;
    height: 750px;
}
#thirdoverveiw{
    background-color: #FFFF85;
    width: 1880px;
    height: 600px;
}
#fourthoverview{
    background-color: #FFFF75;
    width: 1880px;
    height: 500px;
}
#fifthoverview{
    background-color: #FFFF66;
    width: 1880px;
    height: 400px;
}
#sixthoverveiw{
    background-color: #E6E65C;
    width: 
}