body {
    background: #eee;
}
#header {
    background-color: darkcyan;
    color: ivory;
    padding: 10px;
}
#container {
    background-color: white;
    width: 900px;
margin: 0 auto;
    overflow: hidden;
}
#article {
    float: left;
    width: 720px;
    
}


ol li{
    padding-bottom: 10px;
}
#footer{
    padding: 20px;
    text-align: right;
    background-color: darkcyan;
    color: ivory;
    clear: both;
}
#nav {
    
    width: 150px;
    float: left;
    background-color: lightcyan;
    height: 500px;
    padding: 10px;
    font-size: 15px;
}
#menu {
    margin-top: 80px;
}