body {
    background-color: to;
}

#container {
    bacground-color: white;
    width: 800px;
    margin: o auto;
}

#header {
    background-color: #66ccff;
    color: white;
    padding: 10px;
}
#content { 
    padding: 10px;
}
#nav {
    width: 180px; 
    float: left;
}
#article {
    width: 600px;
    float: right;
}
#footer {
    clear: both;
    padding: 10px;
}
