body{
    background-color: #eee;
}
#header {
    background-color: #66ccff;
    color: white;
    padding: 10px;
}
#container {
    background-color: white;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
}