body {
    background: #eee;
}
#header {
    background-color: #66ccff;
    color: ;
    padding: 10px;
}
#container {
    background-color: lightgray;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
margin: 0 auto;
}
#content {
    padding: 10px;
}